.dialog-main-container-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 40vh;
    border-radius: 8px;
    border: none;
    padding: 30px;
}
.dialog-main-container-1:focus-visible {
    outline: none;
}

.form-label{
    width: 100%;
    text-align: start;
}

.dialog-main-container-1 .shade-img {
    position: absolute;
    left: 0;
    top: 0;
}
.dialog-main-container-1 .close {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 39px;
}
.dialog-main-container-1 .head-section {
    margin: auto;
}
.dialog-main-container-1 .head-section .logo {
    width: 100%;
}
.dialog-main-container-1 .dialog-content {
    text-align: center;
    margin: 40px 0;
}
.dialog-main-container-1 .dialog-content .title {
    font-size: 22px;
}
.dialog-main-container-1 .dialog-content .title span {
    color: red;
}
.dialog-main-container-1 .dialog-content .sub-text {
    margin: 10px;
    font-size: 15px;
}
.dialog-main-container-1 .item-wrap {
    margin-left: 40px;
}
.dialog-main-container-1 .item-wrap .name {
    font-size: 16px;
}
.dialog-main-container-1 .item-wrap input {
    border: 1px solid rgba(217, 215, 215, 1);
    width: 94%;
    padding: 10px;
    margin-top: 14px;
    border-radius: 6px;
    font-size: 16px;
}
.dialog-main-container-1 .item-wrap .warn-text {
    color: red;
    font-size: 12px;
}
.dialog-main-container-1 .community {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.dialog-main-container-1 .community .logo {
    cursor: pointer;
}
.dialog-main-container-1 .otp-input {
    border: 1px solid rgba(217, 215, 215, 1);
    border-radius: 8px;
    width: 74px !important;
    height: 74px;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    caret-color: blue;
}
.dialog-main-container-1 .gap {
    width: 20px;
}
.dialog-main-container-1 .footer-section {
    margin-top: 50px;
    text-align: center;
}
.dialog-main-container-1 .footer-section .account {
    margin-bottom: 30px;
    font-size: 16px;
}

.dialog-main-container-1 .footer-section .button-wrap {
    margin: auto;
    width: 120px;
}
.dialog-main-container-1 .footer-section .resend {
    margin-top: 40px;
}
.dialog-main-container-1 .footer-section .otp {
    margin-top: 90px;
}
